<section class="categories">
  <h1>Browse Recipes</h1>

  <div class="categories_container">
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="dinner">
        <figurecaption>dinner</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>breakfast</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>launch</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>dinner</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>breakfast</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>launch</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>dinner</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>breakfast</figurecaption>
      </figure>
    </a>
  </div>
</section>
