<section class="categories">
  <h1>Browse Recipes</h1>

  <div class="categories_container">
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="dinner">
        <figurecaption>Breakfast</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Dinner</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Launch</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Desserts</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Appetizers</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Drinks</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Italian</figurecaption>
      </figure>
    </a>
    <a href="#" class="item breakfast">
      <figure>
        <img src="images/dinner.svg" alt="">
        <figurecaption>Mexican</figurecaption>
      </figure>
    </a>
  </div>

  <a href="/recipes" class="btn all-recipes">show all recipes</a>
</section>
