<section class="secondary-content">
  <div class="latest-recipes">
    <div class="overlay"></div>

    <div class="carousel">
      <div class="cells-container">
        <div class="cell cell1">
          <div class="new-recipe">
            <img src="images/chicken.jpg" alt="recipe-image">
            <div>
              <h3 class="recipe-title">Slow Cooker Pork Ramen Recipe</h3>
              <a href="#" class="btn">see Recipe</a>
            </div>
          </div>
        </div>
        <div class="cell cell2">
          <div class="new-recipe">
            <img src="images/chicken.jpg" alt="recipe-image">
            <div>
              <h3 class="recipe-title">Slow Cooker Pork Ramen Recipe</h3>
              <a href="#" class="btn">see Recipe</a>
            </div>
          </div>
        </div>
        <div class="cell cell3">
          <div class="new-recipe">
            <img src="images/chicken.jpg" alt="recipe-image">
            <div>
              <h3 class="recipe-title">Slow Cooker Pork Ramen Recipe</h3>
              <a href="#" class="btn">see Recipe</a>
            </div>
          </div>
        </div>
        <div class="cell cell4">
          <div class="new-recipe">
            <img src="images/chicken.jpg" alt="recipe-image">
            <div>
              <h3 class="recipe-title">Slow Cooker Pork Ramen Recipe</h3>
              <a href="#" class="btn">see Recipe</a>
            </div>
          </div>
        </div>
      </div>
      <ul class="tabs">
        <li data-cell="cell1" class="selected">
          <span></span>
        </li>
        <li data-cell="cell2">
          <span></span>
        </li>
        <li data-cell="cell3">
          <span></span>
        </li>
        <li data-cell="cell4">
          <span></span>
        </li>
      </ul>

      <div class="btn-container">
        <span id="display-next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <% include sidebar %>
</section>
