<div class="mobile-nav-container">
  <div class="mobile-nav">
    <div class="link-items">
      <a href="#" class="link-item">Log In</a>
      <a href="#" class="link-item">Sign up</a>
      <a href="#" class="link-item">show all recipes</a>
    </div>

    <div class="logo-bottom">
      <h3>CookBook</h3>
    </div>
  </div>
</div>
