<aside>
  <section class="trending">
    <h3>trending authors</h3>

    <figure class="author">
      <img src="images/author.jpg" alt="trending author" class="author-profile">
        <figcaption>
          <a href="">Author Name</a>
          <p>some text about the author</p>
        </figcaption>
    </figure>
    <figure class="author">
      <img src="images/author.jpg" alt="trending author" class="author-profile">
        <figcaption>
          <a href="">Author Name</a>
          <p>some text about the author</p>
        </figcaption>
    </figure>
    <figure class="author">
      <img src="images/author.jpg" alt="trending author" class="author-profile">
        <figcaption>
          <a href="">Author Name</a>
          <p>some text about the author</p>
        </figcaption>
    </figure>
  </section>

  <section class="featured-content">
    <h3>Picked up Recipes</h3>

    <div class="picked-recipes">
      <figure class="featured-recipe">
        <img src="images/chicken.jpg" alt="recipe picture">
          <figcaption>
            <p><a class="recipe-title" href="#">Chinese Chicken Fried Rice</a><br><span>by</span> <a href="#" class="author">author Name</a></p>
            <p>short description about the Recipe, short description about the Recipe,</p>
            <a class="btn" href="#">show recipe</a>
          </figcaption>
      </figure>
      <figure class="featured-recipe">
        <img src="images/chicken.jpg" alt="recipe picture">
          <figcaption>
            <p><a class="recipe-title" href="#">Chinese Chicken Fried Rice</a><br><span>by</span> <a href="#" class="author">author Name</a></p>
            <p>short description about the Recipe, short description about the Recipe,</p>
            <a class="btn" href="#">show recipe</a>
          </figcaption>
      </figure>
      <figure class="featured-recipe">
        <img src="images/chicken.jpg" alt="recipe picture">
          <figcaption>
            <p><a class="recipe-title" href="#">Chinese Chicken Fried Rice</a><span>by</span> <a href="#" class="author">author Name</a></p>
            <p>short description about the Recipe, short description about the Recipe,</p>
            <a class="btn" href="#">show recipe</a>
          </figcaption>
      </figure>
      <figure class="featured-recipe">
        <img src="images/chicken.jpg" alt="recipe picture">
          <figcaption>
            <p><a class="recipe-title" href="#">Chinese Chicken Fried Rice</a><span>by</span> <a href="#" class="author">author Name</a></p>
            <p>short description about the Recipe, short description about the Recipe,</p>
            <a class="btn" href="#">show recipe</a>
          </figcaption>
      </figure>
    </div>
  </section>
</aside>
