.main-header
  height: 500px
  background: url('../images/header.jpeg') no-repeat center
  background-size: cover
  display: flex
  flex-direction: column

  nav
    display: flex
    align-items: center
    min-height: 64px
    padding: 10px 15px
    background: $nav-background

    .logo
      margin-right: auto
      @include heading-text
      font-size: 2.5em
      color: $terary-color
      font-weight: 700

    .btn
      color: $secondary-color

    .signup
      background: $link-color
      margin-right: 10px

    .login
      background: $primary-color


  form
    margin: auto
    height: 37px
    label
      top: 7px
      left: 30px
      font-weight: 300
      font-size: 0.9em
      height: 100%

    input[type="search"]
      padding: 5px
      height: 100%
      width: 300px
      border: 0
      background: #3e2b2c
      border: 1px solid $terary-color
      &::placeholder
        color: #785c57
      &::-webkit-search-cancel-button
        display: none  

    .btn
      align-self: center
      border-radius: 0
      margin-left: -5px
      height: 100%
      vertical-align: top
      background-color: $terary-color
      color: $nav-background
