<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cookbook - Recipes</title>
    <meta name="description" content="Cookbook is a recipe sharing application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="icons/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
  </head>
  <body>
    <% include partials/header %>

    <main>
      <% include partials/categories %>
      <% include partials/latestrecipes %>
    </main>
  </body>
</html>
